#main{
  height: 100vh;
  flex: 1 1 0;
  }

.texto-intro h2{
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: #090909;
  text-transform: initial;
  text-align: center;
  font-style: oblique;
  letter-spacing: 2px;
}

.texto-intro p{
  color: #494949;
  font-size: 1.3rem ;
  text-align: justify;
  text-indent: 30px;
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
  line-height: 1.25rem;
}

#main h3 b, #main b{
  font-weight: bold;
}

#Nome {
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
  font-size: 35px;
  font-weight: 700;
  line-height: 56px;
  color: rgb(0, 0, 0);
  text-transform: initial;
  text-align: center;
  font-style: oblique;
  letter-spacing: 2px;
}

.Subtitulo {
  color: #494949;
  font-size: 1rem ;
  text-align: justify;
  text-indent: 30px;
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
  line-height: 1.25rem;
}

.fonte{
  color: #494949;
  text-align: center;
  font-size: 1rem;
  text-align: justify;
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.Mapa-desmatamento{
  position: relative;
  margin: 0 auto;
  height: 480px;
  width: 460px;
  display: block;
}

@media screen and (max-width:1280px) {
  #main{
    height: 133vh;
    flex: 1 1 0;
    }
}

@media screen and (max-width:768px) {
  #main{
    height: 111vh;
    flex: 1 1 0;
    }
}

@media screen and (max-width:428px) {
  #main{
    height: 150vh;
    flex: 1 1 0;
    }
}
