#main{
  background: #ffffff00;
  width: 100%;
  padding: 0 0 0 0;

}

#main h1{
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
  font-size: 1.8rem ;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

#main h2 {
  color:#090909;
  font-size: 1.4rem ;
  text-align: justify;
  text-indent: 30px;
  margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}

#main h2 .segundo {
  text-indent: 30px;
}
#main h2 b {
  font-weight: bold;
}
i {
  font-style: italic;
}


.container{
  display: flex;
background: #ffffff00;
}

.texto-intro{
  margin: 0 0 0 0;
}
.img-main{
  width: 500 rem;
  height: auto;
}

/*section*/
.sectionslide{
  box-sizing: border-box;
 
}
.content{
  height:50%;
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 33%;
  left: 25%;
  box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.75);
}

.content .slide img{
  height: 100%;
  width: 100%;
}

.navegacao{
  position: absolute;
  bottom: 160px;
  left: 45%;
  top: 80%;
  display: flex;
}

.bar {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 12px;
  cursor: pointer;
  transition: .5s ease;
}

.bar:hover{
  background-color: white;
}

input{
  display: none;
}

.slides{
  display: flex;
  width: 500%;
  height: 100%;
}

.slide{
  width: 20%;
  transition: 0.6s;
}


#slide1:checked ~ .s1{
margin-left: 0;
}

#slide2:checked ~ .s1{
  margin-left: -20%;
}

#slide3:checked ~ .s1{
  margin-left: -40%;
}


.navegacao-auto div{
  width: 15px;
  height: 15px;
  border: 2px solid #20a6ff;
  margin: 6px;
  border-radius: 12px;
  cursor: pointer;
  transition: .5s;
}

.navegacao-auto{
  position: absolute;
  bottom: 160px;
  left: 45%;
  top: 80%;
  display: flex;
}

.navegacao-auto div:not(:last-child), .bar:not(:last-child){
  margin-right: 40px;
}

#slide:checked ~ .navegacao-auto .auto1{
  background-color: #fff;
}
#slide2:checked ~ .navegacao-auto .auto2{
  background-color: black;
}

@media screen and(max-width:1280px) {
  .navegacao-auto{
    position: absolute;
    bottom: 160px;
    left: 38%;
    top: 82%;
    display: flex;
  }
  .navegacao{
    position: absolute;
    bottom: 160px;
    left: 38%;
    top: 82%;
    display: flex;
  }
  .content{
    height:40%;
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 48%;
    left: 25%;
    box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.75);
  }
}

@media screen and(max-width:768px) {
  .navegacao-auto{
    position: absolute;
    bottom: 160px;
    left: 36%;
    top: 87%;
    display: flex;
  }
  .navegacao{
    position: absolute;
    bottom: 160px;
    left: 36%;
    top: 87%;
    display: flex;
  }
  .content{
    height:42%;
    width: 42%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 25%;
    box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.75);
  }
}

@media screen and(max-width:428px) {
  .navegacao-auto{
    position: absolute;
    bottom: 160px;
    left: 31%;
    top: 109%;
    display: flex;
  }
  .navegacao{
    position: absolute;
    bottom: 160px;
    left: 31%;
    top: 109%;
    display: flex;
  }
  .content{
    height:25%;
    width: 98%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 88%;
    left: 1%;
    box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.75);
  }
  main{
    height: 103vh;
    flex: 1 1 0;
    }
}
